html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

/* trbl  top right bottom left top right bottom left top right bottom left top right bvottom left top right bvottom left */

.content {
  background-color: #eeee;
}

.blocco-1 {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid red;
}

.blocco-2 {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid green;
}

.blocco-1 p {
  margin-left: inherit;
}

.header {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.footer {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Train One', cursive;
}
.footer h1 {
  margin: 0 0 0 100px;
}

.footer p {
  margin: 25px 50px 75px 100px;
  border: 1px solid black;
}
